/****************************
Colors Code

#ccc
#ddd
#eee
#fff
#ggg

You Can Choose form:
https://colorhunt.co/
https://www.instagram.com/awsmcolor/
https://www.instagram.com/mr.pugo/

colors from your photos or logo
https://www.canva.com/color-palette/
****************************/


/****************************
Here you can load Fonts for arabic or english if you have tow lang in same page

@import url("fonts_ar.css");
@import url("fonts_en.css");
****************************/


dir[lang=en] {
  font-family:Verdana;
}

*[lang=ar], html[lang=ar], dir[lang=ar], body[lang=ar] {
  font-family: "Tajawal",serif;
}



.wow{
visibility: hidden;
}


/* HTML */

body {
background-color: #fff;
font-style: normal;
font-weight: normal;
font-size: medium;
color: #000 ;
}

p {
color: #000 ;
}

b,
strong {
  font-weight: bolder;
}

a {
color: #ggg;
}

a:hover,
a:focus{
color: #fff;
}

h1, .h1 { font-size: 2em; 		color: #ggg ;}
h2, .h2 { font-size: 1.5em; 	color: #ggg ;}
h3, .h3 { font-size: 1.17em;	color: #ggg ;}
h4, .h4 { font-size: 1.12em;	color: #ggg ;}
h5, .h5 { font-size: .83em;		color: #ggg ;}
h6, .h6 { font-size: .75em; 	color: #ggg ;}

h2, .h2,
.block-title{
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #ddd;
}

ol{}

ul{}

li{}

hr{}

table{}

thead{}

tbody{}

td, th{
color: #ggg ;
}

tr{}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}


/* Forms */

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 #fff;
  box-shadow: inset 0 -2px 0 #fff;
}

input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before {
  background-color: #ggg;
}

input[type="radio"]:checked:after,
.radio input[type="radio"]:checked:after,
.radio-inline input[type="radio"]:checked:after {
  border-color: #ggg;
}

.form-control{
  color: #ggg;
  background-color: #ddd;
}

input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #eee;
  border-color: #ggg;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}



button,
[type="button"],
[type="reset"],
[type="submit"] {

}


input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}



textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}


label {}


.select-wrapper{
  left: 0 !important;
  padding-left: 1em !important;
}

.select-wrapper:after{
  left: 0 !important;
  padding-left: 1em !important;
  display: none !important;
}

.select2-container {
  width: 150px !important;
}





/* HTML */



.logo {


  /*  width: 256px;
    height: 256px;
    background: #ffffff;
    padding: 20px;
    border: 32px solid;
    top: 20px;
    display: inline-block;*/
}

.logo img {

  /*   animation: spin 4s infinite linear; */
}


/* Bootstrap */


.container {}

.modal-header {
background-color: #ccc;
}

.modal-body {
background-color: #eee;
}

.btn-primary,
.btn-default{
    color: #ccc;
    background-color: #ggg;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus,

.btn-default:active,
.btn-default:hover,
.btn-default:focus{
background-color: #fff;
}

/* End Bootstrap */


/* Drupal */

.page-header {
  border-bottom: 1px solid #fff;
}


.main-container{
  padding-top: 35px;
}


.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 23px;
    list-style: none;
    background-color: #ddd;
    border-radius: 3px;
}




/*   Webform   */

.webform-progress-tracker .progress-step.is-active .progress-text {
    color: #ddd;
}

.webform-progress-tracker .progress-step .progress-text {
    color: #fff;
    padding-top: 5px;
    padding-bottom: 0;
}

.webform-progress .progress-title[role="link"] {
    color: #fff;
}

.webform-progress-tracker .progress-step:not(.is-active) .progress-marker,
.webform-progress-tracker .progress-step:hover .progress-marker {
    background-color: #fff;
}

.webform-progress-tracker .progress-step::after {
    background-color: #fff;
}


.progress-step.is-active .progress-marker {
    background-color: #ggg;
}



.footer {
background-color: #ddd;
margin-top: 20px !important;
padding-top: 27px;
padding-bottom: 0px !important;
border-top: 1px solid #ddd;
bottom: 0px;
width: 100%;
clear:both;

}




/*    back to top arrow    */

#backtotop {
    border-radius: 5%;
    line-height: 48px;
    background-color:#fff;
    display: block;
    position: fixed;
    bottom: 75px;
    text-align: center;
    width: 50px;
    left: 30px;
    opacity: 0;
    transition: all 0.4s ease 0s;
    color: #ccc;
    font-size: 11px;
    height: 50px;
    z-index: 99999;
    cursor: pointer;
}

#backtotop:hover {
    background-color: #ggg ;
    transition: .4s;
    color: #ccc;
}

#backtotop.active {
    opacity: 1;
}
